<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hello World
    <h1>This HTML code is inside of a '.erb' file</h1>
  </body>
</html>
